* {
    margin: 0px;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 5px;
    color: black;
    background-color: #5aa6fce3;
}
nav {
    color: white;
}
a {
    font-size: 25px;
    padding: 0px 30px;
    font-weight: bold;
    text-decoration: none;
}
header {
    border-radius: 0px;
    background-color: #206e81;
    padding: 20px;
}
input {
    margin:10px 0px;
    padding:10px 20px;
    width:70%;
    color: gray;
    text-align: left;
    border-style: solid;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
    height: auto;
}
#submit{
    margin: 30px 0px 20px;
    width: 80%;
    color: white;
    background-color: blue;
    font-weight: bold;
    text-align: center;
}
